/* for content in center */
.flexbox-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
  }

  /* backgroung 1 */

  /* linear-gradient(110.02038057017865deg, rgba(48, 245, 251,1) 5.384114583333334%,rgba(23, 142, 203,1) 90.54036458333333%) */

  /* linear-gradient(109.0563763017476deg, rgba(231, 244, 245,1) 5.533854166666667%,rgba(78, 240, 250,1) 96.67968749999999%) */